body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    background-color: rgb(85, 139, 139);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0 1rem;
    font-size: 2.5rem;
}
header > nav {
    margin: 0 1rem;
}
nav > a {
    color: black;
    margin: 0 0.5rem;
    font-size: 2rem;
    text-decoration: none;
}
nav > a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px black;
}