body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    background-color: rgb(85, 139, 139);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0 1rem;
}
header > a {
    margin: 0 1rem;
}